.add-task {
  margin: 0.4rem 0;

  // & .quick-add__wrapper {
  //   background-color: ;
  // }
  background-color: inherit;
  &__container {
    //width: 100%;
    border: 1px solid #383838;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: text;
  }
  &__input {
    width: -webkit-fill-available;
    margin-bottom: 1rem;
    font-size: 12px;
    height: 1.6rem;
    border: none;
    font-weight: 600;
    background-color: transparent;
    color: #ffffde;
    border-radius: 5px;

    &:focus {
      outline: unset;
    }
  }

  &__attributes {
    display: flex;
    justify-content: space-between;
    &--left,
    &--right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__actions {
    background-color: inherit;
    button {
      &:not(:last-child) {
        margin-right: 0.4rem;
      }
    }

    &--add-task {
      background-color: #de4c4a;
      color: #feffff;
    }
    &--cancel {
      background-color: #f5f5f5;
      border: 1px solid #555;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #808080;
    margin-top: 0.6rem;
    &:hover {
      color: #de4c4a;
      .add-task__icon {
        background-color: #de4c4a;

        svg {
          stroke: #feffff;
        }
      }
    }
  }
  &__icon {
    border-radius: 50%;
    margin-right: 0.4rem;
    display: flex;
    place-items: center;
    svg {
      stroke: #de4c4a;
    }
  }
}

.set-new-task__project,
.set-new-task__schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  border: 1px #555 solid;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  &:not(:last-child) {
    margin-right: 0.4rem;
  }
  svg {
    margin-right: 0.2rem;
  }
}

.set-new-task__label {
  margin: 0 0.4rem;
}

.quick-add__container {
  margin-bottom: unset !important;
  border-bottom: unset;
}
